<main class="container-fluid">
  <section class="row">
    <header class="d-flex mt-3 header-container">
      <h3>Giphy Search</h3>
    </header>
    <div class="directions-container">
      <p class="directions-container__info">Looking for a funny idea to put on slack or teams? </p>
    </div>
  </section>
  <section class="row">
    <form
      class="form-container"
      *ngIf="giphyForm"
      [formGroup]="giphyForm">
      <div class="form-group">
        <input
          formControlName="term"
          placeholder="Giphy"
          type="text"
          class="form-control">
      </div>
    </form>
  </section>
  <section class="row">
    <div class="card" *ngFor="let g of results?.data">
        <img src="{{g.images.original.url}}">
    </div>
  </section>
</main>
