
<!-- Toolbar -->
<div class="container-fluid">
  <div class="row">
    <header class="welcome">
      <h1 class="welcome__title">Welcome</h1>
    </header>
  </div>
  <div class="row">
    <section class="btn-group btn-group-lg">
      <button
        type="button"
        class="btn btn-primary"
        routerLink="">
        Home
      </button>
      <button
        routerLink="/welcome"
        type="button"
        class="btn btn-light">
        Search Users
      </button>
      <button
        routerLink="/giphy"
        type="button"
        class="btn btn-dark">
        Search Giffy
      </button>
    </section>
  </div>
</div>

<router-outlet></router-outlet>
